<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>


    <style>
        .on{
            color: green;
        }
        .off{
            color: orangered;
        }
    </style>

    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/custom/js1.js"></script>
</head>
<body>
<div class='table'>
    <p class="on">Status</p>
    <input class="toggle" type="button" value="Toggle"  >

</div>


</body>
</html>